<template id="SimulationComponent">
  <div class="canvas-container">
    <div id="canvasComponent"></div>
    <!-- <canvas class="canvas" width="800" height="600"></canvas> -->
  </div>

  <div class="controls">
    <div class="buttons">
      <button id="start">Start</button>
      <button id="tick">Tick</button>
      <button id="clearBalls">Clear All</button>
    </div>

    <div class="sliders">
      <span id="fpsSlider"></span>
      <span id="physicsSubStepSlider"></span>
    </div>

    <div class="info">
      <div>Update time: <span id="updateTime">0</span> ms</div>
      <div>Total Balls: <span id="totalBalls"></span></div>
    </div>

    <div class="behaviors">
      <label>Behaviors:</label>
      <div id="behavior"></div>
    </div>

    <div id="AddBallComponent"></div>

    <div class="collision">
      <div id="collisionHandlerSelect"></div>
      <div id="collisionHandler"></div>
    </div>

    <div class="view-controls">
      <label>View Controls:</label>
      <div id="drawCollisions"></div>
      <div id="drawCollisionRepresentation"></div>
    </div>
  </div>
</template>
