<template id="AddBallComponent">
  <div>
    <div>
      <label for="mode">Select Mode:</label>
      <select id="mode">
        <option value="Random">Random</option>
        <option value="Specific">Specific</option>
      </select>
    </div>
    <div id="amount"></div>
    <div id="specificFields" style="display: none">
      <div id="radius"></div>
      <div id="mass"></div>
      <label for="color">Color:</label>
      <input type="color" id="color" value="#ff0000" />
    </div>
  </div>
  <button id="add">Add</button>
</template>
